{%- block automatic_collection_widget -%}
    {% if allow_add %}
        <div class="addbtn" data-collection-holder-class="{{ id }}"></div>
    {% endif %}
    {{- block('collection_widget') -}}
{%- endblock automatic_collection_widget -%}